<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# {% verbatim %}
                <div id="app">
                    {{ message }}
                </div>
            {% endverbatim %} #}
            Hello World
        {% endblock %}

        {% block javascripts %}
            <script>
                const url = new URL('https://127.0.0.1/.well-known/mercure');
                url.searchParams.append('topic', 'https://example.com/users/{username}');

                const eventSource = new EventSource(url, {
                    withCredentials: true
                });

                // The callback will be called every time an update is published
                eventSource.onmessage = e => console.log(e); // do something with the payload
            </script>
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </body>
</html>
